body {
    background-image: url(img/MM558602-Copia.jpg);
    margin: 200px;
    margin-top: 40px;
}

.divmain {
    background-color: gold;
}

header {
    padding: 20px;
    text-align: center;
    background-image: url(img/sites-de-viagens.jpg);
}

section {
    background-color: rgb(32, 17, 243);
    margin: 20px;
    display: inline-flex;
    border-radius: 10px;
}

.conteiner-img {
    max-width: 100%;
    height: auto;
    border-width: 3px;
    border-style: solid;
    padding: 30 px;
    border-radius: 10px;
}

.conteiner-img img {
    width: 30%;
    border-width: 8px;
    border-style: solid;
    border-radius: 10px;
}

img :hover {
    cursor: pointer;
    position: relative;
    width: 50%;
}

nav {
    border-radius: 10px;
    background-color: rgb(116, 20, 20);
}

nav ul {
    font-size: 17px;
    list-style: none;
    display: flex;
    padding: 5px;
    justify-content: flex-end;
    flex-flow: row wrap;
}

nav ul a {
    display: block;
    padding: 1em;
    color: rgb(252, 252, 252);
    border-radius: 2px;
    text-decoration: none;
}

nav ul a:hover {
    background-color: rgb(105, 105, 105);
}

a {
    color: black;
    cursor: pointer;
}

section {
    background-color: rgb(212, 238, 255);
    display: inline-flex;
}

.conteiner-img {
    max-width: 100%;
    height: auto;
    border-color: rgb(31, 31, 31);
    border-width: 3px;
    border-style: solid;
    padding: 15px;
}

.conteiner-img img {
    width: 30%;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(78, 78, 78);
}

img:hover {
    cursor: pointer;
    position: relative;
    width: 50%
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 35px;
    text-align: center;
}

p {
    text-indent: 15px;
    padding: 10px;
    font-size: 15px;
    display: flex;
    text-align: justify;
}

.home1 {
    font-size: 18px;
    padding-right: 480px;
}